.section.section--hero {
  height: 100vh;
  max-height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
}

.section.section--hero:before {
  background-color: black;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.5;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 900px;
  margin: auto;
}

.hero {
  font-size: 72px;
}
